.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button{
    background-color: #4D59A0;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px 0px;
    cursor: pointer;
}

button:hover{
    background-color: #1129ad;
}

.logo-section img{
    margin-right: 6px;
}

.phone-line{
    background-color: #4D59A0;
    padding: 4px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 4px;
}
.text-white{
    color: #fff;
}

.phone{
    padding-top: 2px;
}

.link-section ul li {
    list-style: none;
}

.hotline{
    height: 20px;
    padding-left: 8px;
    border-left: 3px solid #5F4C4C;
}

.link-section ul li a{
    margin-right: 12px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.link-section ul li a:hover{
    color: #4D59A0;
}

.active{
    color: #4D59A0 !important;
}

.section-1{
    margin-bottom: 25px;
}

.container .left-section, .container .right-section{
    width: 50%;
    padding: 10px;
}

.right-section img{
    width: 100%;
    height: 100%;
}

.container .left-section h2{
    font-size: 40px;
}

.clock{
    width: 50%;
    height: 60px;
    justify-content: start;
    margin-top: 10px;
}

.clock h5{
    margin-bottom: -8px;
    font-size: 15px;
}

.time:before{
    color: #4D59A0;
    font-size: 50px;
    font-weight: 400;
    margin-right: 8px;
}

.quote-section{
    background-color: #D9D9D9;
    height: 90vh;
    text-align: center;
}

.quote-section .text-section, .quote-section .form-section{
    width: 40%;
    padding: 20px;
    text-align: left;
}

.quote-section .text-section h2, .quote-section .form-section h2{
    font-size: 50px;
}

.quote-section .text-section img{
    height: 40px;
}

.quote-section .text-section h4{
    font-size: 20px;
    margin-bottom: -10px;
}
.quote-section .text-section p{
    font-size: 12px;
}

.service{
    margin-bottom: -10px;
}

.quote-section .form-section input{
    border: none;
    background-color: #fff;
    width: 100%;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3px;
}

.quote-section .form-section button{
    margin-top: 10px;
}

.about-section{
    height: 90vh;
    display: flex;
    align-items: center;
}

.about-section .about-image-section, .about-section .about-text-section{
    width: 45%;
}
.about-section .about-image-section img{
    height: 100%;
    width: 100%;
}

.about-section .about-image-section{
    background-image: url(../img/about-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 357.5px;
    
}

.about-section .about-text-section{
    padding-right: 30px;
    color: #fff;
}

.about-container{
    background-color: #4D59A0;
    height: 80%;
}

.learn-more{
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 8px 0px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    nav{
        background-color: grey;
        height: auto;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
    }
    nav .logo-section img{
        display: none;
    } 
    
    nav ul li a{
        color: #fff !important;
    }

    nav .logo-section h2{
        margin-left: auto;
    }

    .flex-media{
        flex-direction: column;
        align-items: flex-start;
    }
    .link-section li{
        margin-bottom: 5px;
    }
    .hotline{
        border-left: none;
    }

    .section-1 .container .flex .left-section, .section-1 .container .flex .right-section{
        width: 100%;
    }

    .section-1 .container .flex .left-section{
        order: 2;
    }

    .quote-section .text-section, .quote-section .form-section{
        width: 100%;
    }

    .quote-section{
        background-color: #D9D9D9;
        height: auto;
    }

    .quote-section .form-section input{
        width: 80%;
    }
    .about-section .about-image-section, .about-section .about-text-section{
        width: 100%;
    }
    .about-section{
        margin-top: 15px;
        height: auto;
    }
    .about-container{
        background-color: #4D59A0;
        height: auto;
    }
    .about-section .about-text-section{
        padding: 20px;
        margin-top: 5px;
    }
    .about-section .about-image-section{
        height: 500px;
    }
  }
